Repository infinum/eightshift-libs, pull requests merged in 2021-03, with the labels that each got.

#149 Improve CI
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: improvement

#147 Unit Tests
  README.md
  phpunit.xml
  src/Blocks/BlockCli.php
  src/Blocks/BlockComponentCli.php
  src/Blocks/BlockVariationCli.php
  src/Blocks/BlockWrapperCli.php
  src/ConfigProject/ConfigProjectExample.php
  src/Exception/ComponentException.php
  src/Helpers/Components.php
  src/Login/LoginExample.php
  src/Readme/ReadmeCli.php
  tests/CiExclude/CiExcludeCliTest.php
  tests/GitIgnore/GitIgnoreCliTest.php
  tests/Helpers/ComponentHelpersTest.php
  tests/I18n/I18nCliTest.php
  tests/I18n/I18nExampleTest.php
  tests/Login/LoginCliTest.php
  tests/Login/LoginExampleTest.php
  tests/Main/MainCliTest.php
  tests/Main/MainExampleTest.php
  tests/ModifyAdminAppearance/ModifyAdminAppearanceCliTest.php
  tests/ModifyAdminAppearance/ModifyAdminAppearanceExampleTest.php
  tests/Readme/ReadmeCliTest.php
  tests/Services/ServiceExampleCliTest.php
  tests/Services/ServiceExampleTest.php
  tests/data/src/Blocks/components/componentName/componentName.php
  tests/data/src/Blocks/components/componentName/manifest.json
Labels: improvement, tests

#155 adding fix to helper
  src/Helpers/Components.php
  tests/Helpers.php
  tests/Helpers/ComponentHelpersTest.php
  tests/data/src/Blocks/components/button/button.php
  tests/data/src/Blocks/components/button/manifest.json
  tests/data/src/Blocks/components/componentName/componentName.php
  tests/data/src/Blocks/components/componentName/manifest.json
  tests/data/src/Blocks/manifest.json
Labels: improvement

#158 Enqueue Blocks tests
  tests/Enqueue/Blocks/EnqueueBlockCliTest.php
  tests/Enqueue/Blocks/EnqueueBlockExampleTest.php
  tests/data/public/manifest.json
Labels: tests

#157 Feature/enqueue theme & enqueue admin tests
  tests/Enqueue/Admin/EnqueueAdminCliTest.php
  tests/Enqueue/Admin/EnqueueAdminExampleTest.php
  tests/Enqueue/Theme/EnqueueThemeCliTest.php
  tests/Enqueue/Theme/EnqueueThemeExampleTest.php
Labels: tests

#156 updating tests
  src/Blocks/BlockCli.php
  src/Helpers/Components.php
  tests/Blocks/BlocksCliTest.php
  tests/ConfigProject/ConfigProjectCliTest.php
Labels: tests

#159 Manifest tests
  tests/Manifest/ManifestCliTest.php
  tests/Manifest/ManifestExampleTest.php
Labels: tests

#150 Unit tests
  tests/Config/ConfigCliTest.php
  tests/Config/ConfigExampleTest.php
  tests/CustomTaxonomy/TaxonomyCliTest.php
  tests/CustomTaxonomy/TaxonomyExampleTest.php
  tests/Helpers.php
  tests/ThemeOptions/ThemeOptionsCliTest.php
  tests/ThemeOptions/ThemeOptionsExampleTest.php
  tests/View/EscapedViewCliTest.php
  tests/View/EscapedViewExampleTest.php
Labels: tests

#161 Setup tests
  src/Cli/AbstractCli.php
  src/Setup/SetupCli.php
  src/Setup/UpdateCli.php
  tests/Setup/SetupCliTest.php
  tests/Setup/UpdateCliTest.php
Labels: tests

#162 Custom taxonomy wrong doc comment fix
  src/CustomTaxonomy/TaxonomyCli.php
  tests/CustomTaxonomy/TaxonomyCliTest.php
Labels: bugfix

#164 Fix return+else by bailing out early
  src/Helpers/Components.php
Labels: improvement

#151 Rest field tests
  .gitignore
  src/Rest/Routes/RouteCli.php
  tests/Datasets/Arguments.php
  tests/Rest/Fields/FieldCliTest.php
  tests/Rest/Fields/FieldExampleTest.php
  tests/Rest/Routes/RouteCliTest.php
  tests/Rest/Routes/RouteExampleTest.php
Labels: improvement

#165 Fix the autowiring issue
  src/Main/Autowiring.php
Labels: bugfix, urgent

#166 3.0.6 release
  CHANGELOG.md
  package.json
  src/Main/Autowiring.php
Labels: bugfix, urgent

#167 updating helper
  .gitignore
  latest_dump.tar.gz
  src/Blocks/AbstractBlocks.php
  src/Blocks/BlocksExample.php
  src/Cli/AbstractCli.php
  src/ConfigProject/ConfigProjectExample.php
  src/Helpers/Components.php
  tests/ConfigProject/ConfigProjectCliTest.php
Labels: improvement

#170 BuildCli tests
  src/Build/BuildCli.php
  tests/Build/BuildCliTest.php
Labels: tests

#171 Add tests for the custom columns
  tests/Columns/PostTypeColumnsTest.php
  tests/Columns/TaxonomyColumnsTest.php
  tests/Columns/UsersColumnsTest.php
Labels: improvement, tests

#169 Class media test
  tests/Media/MediaCliTest.php
  tests/Media/MediaExampleTest.php
Labels: tests

#168 Feature/exception tests
  src/Exception/ComponentException.php
  src/Exception/InvalidBlock.php
  tests/Datasets/Arguments.php
  tests/Exception/ComponentExceptionTest.php
  tests/Exception/FailedToLoadViewTest.php
  tests/Exception/InvalidBlockTest.php
  tests/Exception/InvalidCallbackTest.php
  tests/Exception/InvalidManifestTest.php
  tests/Exception/InvalidServiceTest.php
  tests/Exception/PluginActivationFailureTest.php
Labels: tests
